{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div>
    <h1>Bienvenue à McDoPlus !</h1>

    compte utilisateur c'est <code><a href="/user">ici</a></code>

    <article>
        <h3>test</h3>
        <p>coucou</p>
    </article>
</div>
{% endblock %}
