{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="center">
    <h1>Bienvenue chez McDoPlus !</h1>
    
{% if not app.user %}
    compte utilisateur c'est <code><a href="/user">ici</a></code>
{% endif %}
{% if app.user and ('waiter' in app.user.roles or 'chef' in app.user.roles) %}
   User roles: {{ app.user.roles|join(', ') }}
{% endif %}

    <article>
        <h3>test</h3>
        <p>coucou</p>
    </article>
</div>
{% endblock %}
