{% extends 'base.html.twig' %}

{% block title %}New Resa{% endblock %}

{% block body %}
<div class="center">
    <h1>Create new Resa</h1>

    <article>
        {{ include('home/_form.html.twig') }}
    </article>
</div>
{% endblock %}