body .center {
  margin: 1em auto;
  max-width: 800px;
  width: 95%;
  font: 18px/1.5 sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-image,
.account-image {
  width: 75px; /* Ajustez la taille des images */
  height: 75px; /* Ajoutez cette propriété pour maintenir la proportion */
  object-fit: cover; /* Pour ajuster l'image sans déformer la proportion */
  border-radius: 50%; /* Pour un effet de cercle */
}

.account-image {
  border: 3px solid #006a1d;
}

.user-account {
  position: relative;
  display: inline-block;
}

.hover-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: var(--code-background-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-account:hover .hover-text {
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
