{% extends 'base.html.twig' %}

{% block title %}403 Denied Access{% endblock %}

{% block body %}
<article>
<h1>Erreur 403</h1>
<h2>Accès refusé : vous n'avez pas la permission d'accéder à cette page</h2>
</article>
{% endblock %}