{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
<div class="center">
    <h1>Edit Ticket</h1>

    <article>
        {{ include('ticket_service/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('ticket_service/_delete_form.html.twig') }}

        <a href="{{ path('app_ticket_service_index') }}">back to list</a>
    </article>
</div>
{% endblock %}
