{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
<div class="center">
    <h1>Create new Ticket</h1>

    <article>
        {{ include('ticket_service/_form.html.twig') }}

        <a href="{{ path('app_ticket_service_index') }}">back to list</a>
    </article>
</div>
{% endblock %}
